@media only screen and (max-device-width : 791px)
{
    .header_area .main-menu .navbar,
    .header_area .main_menu .navbar .navbar-brand{
        padding: 0 2rem 0 0;
        margin: 0%;
    }
    .site-main .site-banner .banner-image > img{
        display: none;
    }
	.site-main .project-area .grid {
    padding: 0 2rem;
}
}


@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }



}

@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;

    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .about-area{
        padding: 3% 4%;
    }


}